<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:each="atendimento : ${atendimentos}">
        <h1 th:text="${atendimento.titulo}">Titulo</h1>
        <ul>
            <li th:each="resposta : ${atendimento.respostas}">
                <ul>
                    <li th:inline="text">Título: [[${resposta.titulo}]]</li>
                    <li th:inline="text">Descrição: <p>[[${resposta.descricao}]]</p></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>