<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
     <div th:fragment="content">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="text-center">Seja bem-vindo ao sistema...</h1>
                
                <h2 class="text-center"> <img src="/images/Logo.png"/>  </h2> 
                    
		<h3 class="text-center">Agilidade no atendimento é com a gente...</h3>		
                
                <h4 class="text-center">												       
                    <a href="#" th:href="@{/atendimentos}"> COMECE JÁ </a>					
		</h4>                                
                                
            </div>                  
        </div>
      </div>
 </body>
</html>